span
{
	color: red;
	font-size: 16px;
}	
li img
{
	width: 200px;
	border-radius: 20px;
}
.bob{
	background: #fff8f8;
	padding: 30px;
	border-radius: 20px;
	width: 50%;
	display: inline-block;
	box-shadow: 5px 5px 18px grey;
}
b
{
	color: purple;
}

.bob3
{
	text-align: center;
	background: #dedddd;
	border-radius: 20px;
	padding: 10px;
}

img{
    width: 200px;
    height: 200px;
    border: 5px 5px 10px black;
}

label{
 font-size: medium;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 border-radius: 20px;
}